<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.gdt.eclipse.designer.gwtLaunchConfigurationType">
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrDirOut" value="war"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrLogLevel" value="INFO"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrModule" value="CarGameClient"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrStyle" value="OBFUSCATED"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/car-game"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="car-game"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256m"/>
</launchConfiguration>
